@import '../../vars.css';

*{
    margin: 0;
    padding: 0;
}

.projects{
    height: 100%;
    margin-top: 5%;
    
}

.firstTitle{
    font-size: 36px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 70px;
}

.firstTitle span{
    color: var(--primary-color);
}
.secondTitle{
    font-size: 55px;
    font-weight: 500;
    color : var(--text-color);
}
.projectCard{
    margin: 30px ;
    padding: 20px;
    max-height: 650px;
    background-color: var(--card-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.projectCard:hover{
    box-shadow: 20px 20px 60px #29313a, -20px -20px 60px #29313a;
    transform: scale(1.02);
}
.tags{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;

    
}
.tags .tag{
    margin: 0;
    height: 50px;
    padding: 10px;
    color: var(--text-color);
    font-family: var(--navbar-font-family);
    background-color: var(--secondary-color);
    border-radius: 13px;
    border: 1px solid var(--primary-color);
}
.projectTitle{
    padding-top: 25px;
    padding-bottom: 10px;
    color: var(--text-color);
    font-family: var(--navbar-font-family);
    font-weight: 600;
}
.exploreBtn{
    display: none;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--text-color);
    font-family: var(--navbar-font-family);
    cursor: pointer;
    align-self: flex-end;
    
}
.projectPhoto{
    max-height: 400px;
    max-width: 600px;
    margin-top: 35px;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: 20px 20px 60px #0a1e2f, -20px -20px 60px #08243a;
}
.technologies{
    margin: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}
.technologies .tech{
    height: max-content;
    padding: 10px;
    color: var(--text-color);
    font-family: var(--navbar-font-family);
    background-color: var(--secondary-color);
    border-radius: 13px;
    border: 1px solid var(--primary-color);
}
.tech i{
    width: 90px;
    height: 90px;
}