@import '../../vars.css';

*{
    margin: 0;
    padding: 0;
    
}
.education{
    margin-bottom: 5%;

}

.firstTitle{
    font-size: 36px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

.firstTitle span{
    color: var(--primary-color);

}

.details{
    padding: 0 5%;
    
}
.borderRigth{
    border-right: 2px solid var(--text-color);

}
.borderTop{
    border-top: 2px solid var(--text-color);
}
.sectionDetail{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-color);
    
    
}
a{
    text-decoration: none;
    color: inherit;
}
.Date{
    font-size: 18px;
    margin-bottom: 10px;
    align-self: flex-end;
    color: var(--secondary-color);

}
.title{
    font-weight: 600;
    font-family: var(--roboto-font);
    margin-bottom: 10px;

}
.institute{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;

}
.license{
    align-self: flex-end;
    font-size: 19px;

}
.license:hover{
    color: var(--primary-color);
    transition: color 0.3s ease;
}


@media screen and (max-width: 768px) {
    .details{
        padding: 0 2%;
    }
    .borderTop{
        border-top: none;
    }
    
}