@import '../../vars.css';

*{
    margin: 0;
    padding: 0;
}

.hero{
    
    height: calc(100% - 105px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    margin-top: 0%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
    overflow: hidden;
    z-index: 4;
}
.leftContent{
    width :45vw;
    height: 100%;
    flex: 1;
    padding-left: 0;
    align-self: center;
    margin-right: -20vw;
    z-index: 3;
}
.rigthContent{
    width: 45vw;
    height:100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -10vw;
    z-index: 3;
    
}
.rigthContent .part{
    margin-top: 20px;
}
.rigthContent span{
    display: block;
    height: 3px;
    width: 35px;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 10px;
}
.title{
    font-size: 72px;
    font-weight: 700;
    font-family:  var(--roboto-font);
    
}

.contactBtn{
}

.image{
    margin-left: 5vw;
    position: fixed center;
    align-self: center;
    width: 45vw;
    height: 45vw;
    z-index: 2;
}

@media screen and (max-width:899px) and (min-width:501px) {
    
    .hero {
        margin-top: 15%;
        flex-wrap: wrap;
        align-items: flex-start;
        height: auto;
        justify-content: space-between;
    }
    
    .leftContent {
        margin: 0;
        margin-bottom: 2rem;
        order: 1;
    }
    
    .image {
        height: auto;
        order: 1;
        margin-bottom: 2rem;
    }
    
    .rigthContent {
        width: 100%;
        margin-left: 0;
        order: 2;
    }
}
@media screen and (max-width:500px) {
    
    .hero {
        max-width: 100vw;
        margin-top: 15%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        justify-content: space-between;
    }
    
    .leftContent {
        width: 100%;
        margin-right: 0;
        margin: 0;
        padding: 0;
        margin-bottom: 2rem;
        order: 1;
    }
    
    .title, .typing *{
        font-size: 42px;
        text-align: center !important;
        text-align: center;
        font-weight: 700;
        font-family:  var(--roboto-font);
        
    }
    
    .image {
        width: 80vw;
        height: auto;
        order: 0;
        margin-bottom: 2rem;
        border-radius: 50%;
        background: linear-gradient(to top, var(--dark-color), var(--bg-color));

    }
    
    .rigthContent {
        margin-left: 0;
        order: 2;
        width: 100%;
    }
}