@import '../../vars.css';

*{
    margin: 0;
    padding: 0;
    
}

.skills{
    height: 100%;
    margin: 0;
    overflow: hidden;
    
}

.firstTitle{
    font-size: 36px;
    font-weight: 400;
    color: var(--text-color);
    
}

.firstTitle span{
    color: var(--primary-color);

}
.skillsList{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    list-style: none;
    overflow: hidden;
    animation: scroll 90s linear infinite;
    width: max-content;

}

.skillsItem{
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--card-color);
    padding: 10px 15px;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.skillsItem:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.skills:hover .skillsList{
    animation-play-state: paused;
}



@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50% );
    }
}
