@import'../../vars.css';

*{
    margin: 0;
    padding: 0;
}
.page{
    min-height:100vh ;
    margin: 5%;
}

.about{
    padding:  0 5vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.imageSection{
    position: relative;
    
    border-radius: 50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);
    
}
.imageSection img{
    width: 30vw;
    height: 30vw;
}

.textSection span{
    color: var(--text-color);
    background-color: var(--text-color);
    border-radius: 5px;
    margin-bottom: 40px;
    height: 5px; 
    width: 100px;
    display: inline-block;   
}

.textSection h1{
    font-size: 3.2rem;
    margin-bottom: 20px;
    color: var(--text-color);
    font-family: var(--roboto-font);
    font-weight: 700;
    
}

.textSection p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--text-color);
    max-width: 600px;
    
}

@media screen and (max-width: 768px) {
    .page{
        margin: 0;
    }
    .about{
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        max-width: 100vw;
        overflow: hidden;
    }
    .imageSection img{
        width: 60vw;
        height: 60vw;
    }
    
}

