@import'../../vars.css';

*{
    margin: 0;
    padding: 0;
}

.contact{
    min-height: 100vh;
    margin: 10% 10% 0% 10%;
    
}

.title{
    font-size: 100px;
    font-weight: 600;
    font-family: var(--roboto-font);
    color: var(--text-color);

}

.text{
    font-size: 36px;
    color: var(--text-color);
    margin-top: 20px;
}

.form{
    padding: 50px;
    background-color: var(--card-color);
    border-radius: 20px;
}

.inputField{
    min-height: 50px;
    margin-bottom: 30px ;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    border-radius: 0px;
    padding: 20px;
    font-size: 20px;
}

.inputField:focus{
    background-color: transparent;
    color: var(--text-color);
    box-shadow: none;
}
.inputField::placeholder{
    color: var(--text-color);
}

.contactBtn{
    width: 170px;
    height: 50px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
}
.contactBtn:hover{
    transform: scale(1.05);
}
.status{
    margin-top: 20px;
    font-size: 20px;
    color: var(--text-color);
}

@media screen and (max-width: 768px) {
    *{
        box-sizing: border-box;
    }
    .contact{
        margin: 0% ;
        margin-top: 20%;
        max-width: 100vw;
        width: 100%;
        position: relative;
    }

    .title{
        font-size: 60px;
    }

    .text{
        font-size: 24px;
    }

    .form{
        padding: 30px;
    }
    

    .status{
        font-size: 16px;
    }
    
}