@import"../../vars.css";

*{
    margin: 0;
    padding: 0;
}

.footer{
    max-width: 100%;
    min-height: 400px;
    background: var(--dark-color);
    border-top: 2px solid var(--primary-color);
    padding: 2% 5% 1% 5%;
    
}
.topSection{
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 50px;
}
.leftSection{
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--dark-color), var(--bg-color));
}
.middleSection{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    padding: 20px;
}
h4{
    color: var(--secondary-color);
}
.rigthSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    display: flex;
    padding: 0;
    margin: -20px;
}
.rigthSection h1{
    margin-top: 20px;
    font-family: var(--navbar-font-family);
    font-size: 50px;
    font-weight: 700;
}
.contactSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    margin-top: 30px;
}
.contactInfo h4{
    margin-top: 30px;
    font-family: var(--navbar-font-family);
    font-size: 20px;
}
.contactInfo a{
    color: var(--text-color);
    text-decoration: none;
    text-decoration: underline;
    font-size: 18px;
    margin-top: 10px;
}
.menu {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    list-style: none;
    
    
}


.listItem a{
    color: var(--text-color);
    font-size: 18px;
    font-family: var(--navbar-font-family);
    text-decoration: none;
}
.copyright{
    text-align: center;
    color: var(--text-color);
    font-size: 18px;
    margin: 20px;
}
@media screen and (max-width:900px) {
    .footer{
        padding: 5% 2% 2% 2%;
    }
    .topSection{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .leftSection{
        margin-bottom: 20px;
    }
    .image{
        width: 200px;
        height: 200px;
    }
    .middleSection{
        padding: 10px;
    }
    .rigthSection h1{
        font-size: 30px;
    }
    .contactSection{
        flex-direction: column;
        gap: 20px;
    }
    .contactInfo h4{
        font-size: 16px;
    }
    .contactInfo a{
        font-size: 16px;
    }
    .menu {
        flex-direction: column;
        gap: 10px;
        margin: 10px;
    }
    .listItem a{
        font-size: 16px;
    }
    
}