@import '../../vars.css';

*{
    margin: 0;
    padding: 0;
}

.exp{
    max-width: 100%;
    height: 100%;
}
.firstTitle{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 36px;
    font-weight: 400;
    color: var(--text-color);
}

.firstTitle span{
    color: var(--primary-color);
}

.table{
    margin: 30px;
    color: var(--text-color);
    font-family: var(--navbar-font-family);
}

.table td{
    padding: 20px;
    vertical-align: middle;
    max-width: 500px;
    min-width: 150px;
}

.table a{
    text-decoration: none;
    
    background-color: transparent;
    color: var(--text-color);
}
.companyLogo{
    width: 150px;
    height: auto;
}
.table .position p{
    background-color: transparent;
    color: var(--text-color);
}
.table .positionTitle{
    background-color: transparent;
    color: var(--text-color);
    font-size: xx-large;
}
.table .date{
    color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .table td{
        display: block;
        width: 100vw;
        text-align: center;
    }
    .table .companyLogo{
        margin-bottom: 20px;

    }
    
}
